<?xml version="1.0"?>
<PluginData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="GitHubPlugin">

  <Id>StarCpt/SE-GpsFolders</Id>
  <FriendlyName>Gps Folders (dev folder)</FriendlyName>
  <Author>StarCpt</Author>
  <Tooltip></Tooltip>

  <Description></Description>

  <Commit>123</Commit>
</PluginData>